@import "tailwindcss";


@theme {
  --color-zecGold: #FFB800;
}

/*Dark Mode, initial*/
:root {
  --background: #000000;
  --foreground: #FFB800;
}

/* Light mode - Buttom Sunny*/
.luz {
  --background: #f4f4f5;
  --foreground: #18181b;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.5s ease, color 0.5s ease;
}