@import "tailwindcss";

@theme {
  --color-zecGold: var(--zec-gold-dinamico);
  --font-titulo: var(--font-roboto-condensed);
}

/* Darkmod is default */
:root {
  --background: #000000;
  --foreground: #ffffff; 
  --zec-gold-dinamico: #FFB800; 
}

/* Lightmode color */
.luz {
  --background: #f4f4f5;
  --foreground: #18181b; 
  --zec-gold-dinamico: #000000; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.5s ease, color 0.5s ease;
}